* {
    margin: 0;
    padding: 0;
}
.close {
    margin-top: -20px;
    margin-right: -20px;
    font-size: 3vh;
    float: right;
    cursor: pointer;
}
.close:hover{
    color: #fe6a01;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../img/Background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #fe6a01;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

ul li a:hover {
    color: #fe6a01;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fe6a01;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    text-align: center;
}

.content .par {
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    display: flex;
    text-align: justify;
}
.content h1 {
    font-size: 50px;
    text-align: center;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #fe6a01;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cna a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: white;
}

.content span {
    color: #fe6a01;
    font-size: 65px;
}
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)80%, rgba(0, 0, 0, 0.8)80%);
    top: 40px;
    left: 460px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 22px;
    text-align: center;
    position: absolute;
    
}

.form h2 {
    text-align: center;
    padding: 8px;
    font-family: sans-serif;
    text-align: center;
    color: #fe6a01;
    font-size: 22px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #fe6a01;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

.btnLogin {
    width: 240px;
    height: 40px;
    background: #fe6a01;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: hand;
    color: white;
}

.btnLogin:active {
    background-color: white;
    color: #fe6a01;
}

.btnLogin:hover {
    border-color: white;
    border-style: solid;
}

.btnLogin a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #fe6a01;
}

.form .link a:hover {
    text-decoration: none;
    color: white;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #fe6a01;
    text-align: center;
}

.icons {
    text-align: center;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding: 5px;
}

.icons ion-icon:hover {
    color: blue;
}

.search ::placeholder {
    color: white;
}